:root {
    /* Colores */
    --swamp-green: #7BB661;
    --ogre-green: #9DC183;
    --donkey-brown: #805A3B;
    --fiona-purple: #A25FAE;
    --far-far-away-sky-blue: #7FB2D9;
  
    /* Otros estilos */
    --border-radius: 8px;
    --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    /* Agrega más variables según tus necesidades */
  }
  
/* Importar los estilos de Bootstrap */
@import '~bootstrap/dist/css/bootstrap.min.css';
